log/*
config/database.yml
tmp/
\#*#
*.#
*~
.sass-cache/
public/blank.html
public/assets
public/system/
/config/initializers/developer.rb
.rvmrc
/lib/sass_function.rb
/lib/sass/script/functions.rb
coverage
vendor/bundle
.bundle
.DS_Store
log/development.log
log/*