<tr class="row" id="comment_<%= comment.id %>">
  <td><%= comment.commenter %></td>
  <td><%= comment.body %></td>
  <td><%= link_to 'Destroy', [comment.issue, comment],
           method: :delete, remote: true,
           data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
</tr>
