<div class="form-horizontal">
  <%= simple_form_for([@issue, @issue.comments.build], :remote=> true) do |f| %>
    <div class="control-group row">
      <%= f.input :body, input_html: {  class: "span10", rows: "5" }, label: false %>
    </div>
    <div class='row'>
      <%= f.button :submit, "Add Comment", class: 'btn btn-primary', style: "margin-left:30px;" %>
    </div>
    <%- if current_user.present? %>
      <%= f.input :user_id, :as => :hidden, input_html: { value: "#{current_user.id}" } %>
    <%- end %>
  <% end %>
</div>
