<h1>Search by Title</h1>
<div class="control-group">
  <%= form_tag search_path do %>
  <p><%= text_field_tag :search_con %></p>
</div>
<div class="form-actions">
	<%= submit_tag "Search Post", class: 'btn' %>
</div>

<%- end %>
