<div class='row' style="margin-top:10%">
    <div class="span2"></div>
    <div class="span4">
      <%= image_tag current_user.avatar.url(:medium) %>
    </div>
    <div class="span4" style="margin-top:12%;">
      <%= current_user.email %>
    </div>
    <div class="span2"></div>


</div>
<div class="row" style="text-align: center;margin-top:2%;">
  <%= link_to 'Back', issues_path, class: 'btn' %> |
  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn" %>
</div>
